<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/danny.css" />
    <title>My site</title>
  </head>
  <body>
    <div style="display: flex; margin-bottom: 40px">
      <img
        style="border-radius: 100%; width: 200px; margin-right: 15px"
        src="../static/headshot.jpeg"
        alt="danny"
      />
      <div>
        <h1>Danny Yoo</h1>
        <p><em>A brother in Christ.</em></p>
        <p>I am a developer, I love Christ and coffee.</p>
      </div>
    </div>
    <div
      style="
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin: 0 auto;
      "
    >
      <h2>Certifications</h2>
      <ul>
        <li>PERN stack software engineering</li>
        <li>Python development course</li>
      </ul>
    </div>
    <div style="margin-bottom: 20px">
      <h2>Work Experience</h2>
      <table>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
        <tr>
          <td>2009-2012</td>
          <td>So Cal Plumbing</td>
        </tr>
        <tr>
          <td>2012-2014</td>
          <td>Masters Plumbing</td>
        </tr>
        <tr>
          <td>2014-2018</td>
          <td>CBIS inc</td>
        </tr>
      </table>
    </div>
    <div
      style="
        padding-bottom: 20px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      "
    >
      <h2>Skills</h2>
      <table>
        <tr>
          <td>HTML</td>
          <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>CSS</td>
          <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>JAVASCRIPT</td>
          <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>PYTHON</td>
          <td>⭐⭐⭐</td>
        </tr>
      </table>
    </div>
  </body>
</html>
