<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div>
      <form action="/login" method="post">
        <label for="name">Name: </label>
        <input id="name" name="name" type="text" placeholder="name" />
        <label for="password">Password: </label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="password"
        />
        <button type="submit">Ok</button>
      </form>
    </div>
  </body>
</html>
