<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My website</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>Name: {{name_data.name}}</p>
    <p>Age guess: {{name_data.age}}</p>
    <p>Name guess count: {{name_data.count}}</p>
    <p>Gender guess: {{gender_data.gender}}</p>
    <p>Gender probability: {{gender_data.probability * 100}}</p>
  </body>

  <footer>Copyright {{current_year}}, built by {{name}}</footer>
</html>
